<!-- Content -->
<div class="page-content bg-white">
	<!-- inner page banner -->
	<div class="page-banner ovbl-dark" style="background-image:url(/assets/images/banner/banner1.jpg);">
		<div class="container">
			<div class="page-banner-entry">
				<h1 class="text-white">جزییات رویداد</h1>
			</div>
		</div>
	</div>
	<!-- Breadcrumb row -->
	<div class="breadcrumb-row">
		<div class="container">
			<ul class="list-inline">
				<li><a href="#">خانه</a></li>
				<li>جزییات رویداد</li>
			</ul>
		</div>
	</div>
	<!-- Breadcrumb row END -->
	<!-- inner page banner END -->
	<div class="content-block">
		<!-- About Us -->
		<div class="section-area section-sp1">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-md-7 col-sm-12">
						<div class="courses-post">
							<div class="ttr-post-media media-effect">
								<a href="#"><img src="~/assets/images/blog/default/thum1.jpg" alt=""></a>
							</div>
							<div class="ttr-post-info">
								<div class="ttr-post-title ">
									<h2 class="post-title">نتایج خوب با انجام راهکارهای درست مطالعاتی</h2>
								</div>
								<div class="ttr-post-text">
									<p>ورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
										چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
								</div>
							</div>
						</div>
						<div class="courese-overview" id="overview">
							<div class="row">
								<div class="col-md-12 col-lg-5">
									<ul class="course-features">
										<li><i class="ti-book"></i> <span class="label">موضوعات</span> <span class="value">
												طراحی وبسایت</span></li>
										<li><i class="ti-help-alt"></i> <span class="label">برگذارکننده</span> <span class="value">مجتمع
												آموزشی اجوکمپ</span></li>
										<li><i class="ti-time"></i> <span class="label">محل</span> <span class="value">میدان ونک -
												آموزشگاه فرشته</span></li>
										<li><i class="ti-stats-up"></i> <span class="label">سطح مهارت</span> <span
												class="value">ابتدایی</span></li>
										<li><i class="ti-smallcap"></i> <span class="label">زبان</span> <span class="value">فارسی</span>
										</li>
										<li><i class="ti-user"></i> <span class="label">دانشجویان</span> <span class="value">32</span>
										</li>
										<li><i class="ti-check-box"></i> <span class="label">ارزیابی</span> <span
												class="value">بله</span></li>
									</ul>
								</div>
								<div class="col-md-12 col-lg-7">
									<h5 class="m-b5">درباره رویداد</h5>
									<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
										چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی
										مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه
										درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد</p>
									<h5 class="m-b5">گواهینامه</h5>
									<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
										چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی
										مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه
										درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد</p>
									<h5 class="m-b5">محتوای رویداد</h5>
									<ul class="list-checked primary">
										<li>بیش از 37 سخنرانی و 55.5 ساعت مطالب!</li>
										<li>انجام پروژه به صورت کاملا زنده </li>
										<li>آموختن پایه های اصلی برای درک صحیح و عمیق
										</li>
										<li>تمرینات دوره‌ای برای پیشرفت و جاافتادن مطالب
										</li>
										<li>بهترین دوره برای شروع کار و ورود به صنعت
										</li>
										<li>شامل توضیح تمام مفاهیم ضروری برای یادگیری</li>
										<li>تکالیف عملی در پایان هر جلسه.</li>
										<li>تجربه یادگیری عملی با کار پروژه زنده و مثالها.</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-5 col-sm-12 m-b30">
						<div class="bg-primary text-white contact-info-bx m-b30">
							<h2 class="m-b10 title-head">اطلاعات <span> تماس </span></h2>
							<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک</p>
							<div class="widget widget_getintuch">
								<ul>
									<li><i class="ti-location-pin"></i>تهران- میدان یک - خیابان دو - کوچه سه- برج ما</li>
									<li><i class="ti-mobile"></i>9800-123456 (پشتیبانی24 ساعته )</li>
									<li><i class="ti-email"></i>info@example.com</li>
								</ul>
							</div>
							<h5 class="m-t0 m-b20">ما را دنبال کنید</h5>
							<ul class="list-inline contact-social-bx">
								<li><a href="#" class="btn outline radius-xl"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#" class="btn outline radius-xl"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#" class="btn outline radius-xl"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#" class="btn outline radius-xl"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
						<iframe
							src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3448.1298878182047!2d-81.38369578541523!3d30.204840081824198!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88e437ac927a996b%3A0x799695b1a2b970ab!2sNona+Blue+Modern+Tavern!5e0!3m2!1sen!2sin!4v1548177305546"
							class="align-self-stretch d-flex" style="width:100%; min-width:100%; min-height:400px;"
							allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- contact area END -->
</div>
<!-- Content END-->