<!-- All PLUGINS CSS ============================================= -->
<link rel="stylesheet" type="text/css" href="~/Client/assets/css/assets.css">
<link rel="stylesheet" type="text/css" href="~/Client/assets/vendors/calendar/fullcalendar.css">
<link rel="stylesheet" type="text/css" href="~/Client/assets/vendors/summernote/summernote.css">
<link rel="stylesheet" type="text/css" href="~/Client/assets/vendors/file-upload/imageuploadify.min.css">
<!-- TYPOGRAPHY =============================~/Client/================ -->
<link rel="stylesheet" type="text/css" href="~/Client/assets/css/typography.css">
<!-- SHORTCODES =============================~/Client/================ -->
<link rel="stylesheet" type="text/css" href="~/Client/assets/css/shortcodes/shortcodes.css">
<!-- STYLESHEETS ============================~/Client/================= -->
<link rel="stylesheet" type="text/css" href="~/Client/assets/css/style.css">
<link rel="stylesheet" type="text/css" href="~/Client/assets/css/dashboard.css">
<link class="skin" rel="stylesheet" href="~/Client/assets/css/color/color-1.css"type="text/css" >

<!--Main container start -->
<main class="ttr-wrapper">
	<div class="container-fluid">
		<div class="db-breadcrumb">
			<h4 class="breadcrumb-title">ارسال پیام</h4>
			<ul class="db-breadcrumb-list">
				<li><a href="#"><i class="fa fa-home"></i>خانه</a></li>
				<li>ارسال پیام</li>
			</ul>
		</div>	
		<div class="row">
			<!-- Your Profile Views Chart -->
			<div class="col-lg-12 m-b30">
				<div class="widget-box">
					<div class="email-wrapper">
						<div class="email-menu-bar">
							<div class="compose-mail">
								<a href="mailbox-compose.html" class="btn btn-block">ارسال پیام</a>
							</div>
							<div class="email-menu-bar-inner">
								<ul>
									<li class="active"><a href="mailbox.html"><i class="fa fa-envelope-o"></i>صندوق ورودی <span class="badge badge-success">8</span></a></li>
									<li><a href="mailbox.html"><i class="fa fa-send-o"></i>فرستاده شده</a></li>
									<li><a href="mailbox.html"><i class="fa fa-file-text-o"></i>ذخیره شده <span class="badge badge-warning">8</span></a></li>
									<li><a href="mailbox.html"><i class="fa fa-cloud-upload"></i>صندوق خروجی <span class="badge badge-danger">8</span></a></li>
									<li><a href="mailbox.html"><i class="fa fa-trash-o"></i>سطل آشغال</a></li>
								</ul>
							</div>
						</div>
						<div class="mail-list-container">
							<form class="mail-compose">
								<div class="form-group col-12">
									<input class="form-control" type="email" placeholder="به">
								</div>
								<div class="form-group col-12">
									<input class="form-control" type="email" placeholder="انتخاب مخاطب">
								</div>
								<div class="form-group col-12">
									<input class="form-control" type="text" placeholder="موضوع">
								</div>
								<div class="form-group col-12">
									<div class="summernote"><p>سلام دنیا!</p></div>
								</div>
								<div class="form-group col-12">
									<input type="file" accept=".xlsx,.xls,image/*,.doc,audio/*,.docx,video/*,.ppt,.pptx,.txt,.pdf" multiple>
								</div>
								<div class="form-group col-12">
									<button type="submit" class="btn btn-lg">ارسال</button>
								</div>
							</form>
						</div>
					</div>
				</div> 
			</div>
			<!-- Your Profile Views Chart END-->
		</div>
	</div>
</main>

<!-- External JavaScripts -->
<script src="~/Client/assets/js/jquery.min.js"></script>
<script src="~/Client/assets/vendors/bootstrap/js/popper.min.js"></script>
<script src="~/Client/assets/vendors/bootstrap/js/bootstrap.min.js"></script>
<script src='~/Client/assets/vendors/scroll/scrollbar.min.js'></script>
<script src="~/Client/assets/vendors/chart/chart.min.js"></script>
<script src="~/Client/assets/js/admin.js"></script>
<script src="~/Client/assets/vendors/summernote/summernote.js"></script>
<script src="~/Client/assets/vendors/file-upload/imageuploadify.min.js"></script>

<!-- include plugin -->
<script>
    $(document).ready(function() {
      $('.summernote').summernote({
        height: 300,
        tabsize: 2
      });
	  
	   $('input[type="file"]').imageuploadify();
    });
</script>