<!-- sidebar menu start -->
<nav class="ttr-sidebar-navi">
	<ul>
		<li>
			<a href="/Client/Home/Index" class="ttr-material-button">
				<span class="ttr-icon"><i class="ti-home"></i></span>
				<span class="ttr-label">داشبرد</span>
			</a>
		</li>
		<li>
			<a href="/Client/Dore/Index" class="ttr-material-button">
				<span class="ttr-icon"><i class="ti-book"></i></span>
				<span class="ttr-label">دوره‌ها</span>
			</a>
		</li>
		<li>
			<a href="#" class="ttr-material-button">
				<span class="ttr-icon"><i class="ti-email"></i></span>
				<span class="ttr-label">صندوق پستی</span>
				<span class="ttr-arrow-icon"><i class="fa fa-angle-down"></i></span>
			</a>
			<ul>
				<li>
					<a href="/Client/Message/Index" class="ttr-material-button"><span class="ttr-label">صندوق پستی</span></a>
				</li>
				<li>
					<a href="/Client/Message/Send" class="ttr-material-button"><span class="ttr-label">ارسال پیام</span></a>
				</li>
				<li>
					<a href="/Client/Message/Msg" class="ttr-material-button"><span class="ttr-label">پیام</span></a>
				</li>
			</ul>
		</li>
		<li>
			<a href="#" class="ttr-material-button">
				<span class="ttr-icon"><i class="ti-calendar"></i></span>
				<span class="ttr-label">تقویم</span>
				<span class="ttr-arrow-icon"><i class="fa fa-angle-down"></i></span>
			</a>
			<ul>
				<li>
					<a href="/Client/basic-calendar.html" class="ttr-material-button"><span class="ttr-label">تقویم ساده</span></a>
				</li>
				<li>
					<a href="/Client/list-view-calendar.html" class="ttr-material-button"><span class="ttr-label">تقویم
							لیستی</span></a>
				</li>
			</ul>
		</li>
		<li>
			<a href="/Client/BookMark/Index" class="ttr-material-button">
				<span class="ttr-icon"><i class="ti-bookmark-alt"></i></span>
				<span class="ttr-label">نشان شده</span>
			</a>
		</li>
		<li>
			<a href="/Client/Nazar/Index" class="ttr-material-button">
				<span class="ttr-icon"><i class="ti-comments"></i></span>
				<span class="ttr-label">نظرات</span>
			</a>
		</li>
		<li>
			<a href="/Client/Dore/Add" class="ttr-material-button">
				<span class="ttr-icon"><i class="ti-layout-accordion-list"></i></span>
				<span class="ttr-label">افزودن دوره</span>
			</a>
		</li>
		<li>
			<a href="#" class="ttr-material-button">
				<span class="ttr-icon"><i class="ti-user"></i></span>
				<span class="ttr-label">پروفایل من</span>
				<span class="ttr-arrow-icon"><i class="fa fa-angle-down"></i></span>
			</a>
			<ul>
				<li>
					<a href="/Client/Profile/User" class="ttr-material-button"><span class="ttr-label">پروفایل
							کاربری</span></a>
				</li>
				<li>
					<a href="/Client/Profile/Teacher" class="ttr-material-button"><span class="ttr-label">پروفایل
							مدرس</span></a>
				</li>
			</ul>
		</li>
		<li class="ttr-seperate"></li>
	</ul>
	<!-- sidebar menu end -->
</nav>
<!-- sidebar menu end -->