<!-- Content -->
<div class="page-content bg-white">
	<!-- inner page banner -->
	<div class="page-banner ovbl-dark" style="background-image:url(/assets/images/banner/banner3.jpg);">
		<div class="container">
			<div class="page-banner-entry">
				<h1 class="text-white">سوالات پر تکرار</h1>
			</div>
		</div>
	</div>
	<!-- Breadcrumb row -->
	<div class="breadcrumb-row">
		<div class="container">
			<ul class="list-inline">
				<li><a href="/Home/Index">خانه</a></li>
				<li>پرسش و پاسخ</li>
			</ul>
		</div>
	</div>
	<!-- Breadcrumb row END -->
	<!-- contact area -->
	<div class="content-block">
		<!-- Your Faq -->
		<!-- About Us -->
		<div class="section-area section-sp1 bg-gray">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-sm-6 m-b30">
						<div class="feature-container">
							<div class="feature-md text-white m-b20">
								<a href="#" class="icon-cell"><img src="~/assets/images/icon/icon1.png" alt="" /></a>
							</div>
							<div class="icon-content">
								<h5 class="ttr-tilte">جهـان‌بیـنی ما</h5>
								<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 m-b30">
						<div class="feature-container">
							<div class="feature-md text-white m-b20">
								<a href="#" class="icon-cell"><img src="~/assets/images/icon/icon2.png" alt="" /></a>
							</div>
							<div class="icon-content">
								<h5 class="ttr-tilte">اصل كینگزستر</h5>
								<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 m-b30">
						<div class="feature-container">
							<div class="feature-md text-white m-b20">
								<a href="#" class="icon-cell"><img src="~/assets/images/icon/icon3.png" alt="" /></a>
							</div>
							<div class="icon-content">
								<h5 class="ttr-tilte">کلید موفقیت</h5>
								<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 m-b30">
						<div class="feature-container">
							<div class="feature-md text-white m-b20">
								<a href="#" class="icon-cell"><img src="~/assets/images/icon/icon4.png" alt="" /></a>
							</div>
							<div class="icon-content">
								<h5 class="ttr-tilte">جهـان‌بیـنی ما</h5>
								<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Our Services -->
		<div class="section-area section-sp1">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-md-12">
						<div class="heading-bx left">
							<h2 class="m-b10 title-head">سوالات<span> شما</span></h2>
						</div>
						<p class="m-b10">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
						<p> برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد </p>
						<div class="ttr-accordion m-b30 faq-bx" id="accordion1">
							<div class="panel">
								<div class="acod-head">
									<h6 class="acod-title">
										<a data-toggle="collapse" href="#faq1" class="collapsed" data-parent="#faq1">
										نحوه پرداخت اقساطی به چه صورت می‌باشد؟</a> </h6>
								</div>
								<div id="faq1" class="acod-body collapse">
									<div class="acod-content"> نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد</div>
								</div>
							</div>
							<div class="panel">
								<div class="acod-head">
									<h6 class="acod-title">
										<a data-toggle="collapse" href="#faq2" class="collapsed" data-parent="#faq2">
										چطور می‌توانم بورسیه شوم؟</a> </h6>
								</div>
								<div id="faq2" class="acod-body collapse">
									<div class="acod-content">زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</div>
								</div>
							</div>
							<div class="panel">
								<div class="acod-head">
									<h6 class="acod-title">
										<a data-toggle="collapse" href="#faq3" class="collapsed" data-parent="#faq3">
										کد تخفیف را چطور اعمال کنیم؟</a> </h6>
								</div>
								<div id="faq3" class="acod-body collapse">
									<div class="acod-content">برای اعمال کد لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</div>
								</div>
							</div>
							<div class="panel">
								<div class="acod-head">
									<h6 class="acod-title">
										<a data-toggle="collapse" href="#faq4" class="collapsed" data-parent="#faq4">
											چطور دوره‌های ثبت نام شده را ببینم؟</a> </h6>
								</div>
								<div id="faq4" class="acod-body collapse">
									<div class="acod-content">برای اعمال کد لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</div>
								</div>
							</div>
							<div class="panel">
								<div class="acod-head">
									<h6 class="acod-title">
										<a data-toggle="collapse" href="#faq5" class="collapsed" data-parent="#faq5">
									چطور نام اکانتم را عوض کنم؟</a> </h6>
								</div>
								<div id="faq5" class="acod-body collapse">
									<div class="acod-content">برای اعمال کد لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</div>
								</div>
							</div>
						</div>
						<p class="m-b10">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
						<p> برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد </p>
					</div>
					<div class="col-lg-4 col-md-12">
						<div class="bg-primary text-white contact-info-bx">
							<h2 class="m-b10 title-head">اطلاعات <span> تماس </span></h2>
							<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک</p>
							<div class="widget widget_getintuch">
								<ul>
									<li><i class="ti-location-pin"></i>تهران- میدان یک - خیابان دو - کوچه سه- برج ما New
										York</li>
									<li><i class="ti-mobile"></i>9800-123456 (پشتیبانی24 ساعته )</li>
									<li><i class="ti-email"></i>info@example.com</li>
								</ul>
							</div>
							<h5 class="m-t0 m-b20">ما را دنبال کنید</h5>
							<ul class="list-inline contact-social-bx">
								<li><a href="#" class="btn outline radius-xl"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#" class="btn outline radius-xl"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#" class="btn outline radius-xl"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#" class="btn outline radius-xl"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Your Faq End -->
		<!-- Company Stats -->
		<div class="section-area content-inner section-sp1 bg-gray">
			<div class="container">
				<div class="section-content">
					<div class="row">
						<div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
							<div class="counter-style-1">
								<div class="text-primary">
									<span class="counter">3000</span><span>+</span>
								</div>
								<span class="counter-text">دوره‌های تکمیل شده</span>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
							<div class="counter-style-1">
								<div class="text-black">
									<span class="counter">2500</span><span>+</span>
								</div>
								<span class="counter-text">دانشجویان راضی</span>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
							<div class="counter-style-1">
								<div class="text-primary">
									<span class="counter">1500</span><span>+</span>
								</div>
								<span class="counter-text">رشته‌ها</span>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
							<div class="counter-style-1">
								<div class="text-black">
									<span class="counter">1000</span><span>+</span>
								</div>
								<span class="counter-text">دوره‌های پیش‌رو</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Company Stats END -->
	</div>
	<!-- contact area END -->
</div>
<!-- Content END-->